<div class="sidenav">
    <a href="javascript:void(0)" (click)="toggle('PRODONE')">Marketing</a>
    <a href="javascript:void(0)" (click)="toggle('PRODTWO')">We are at</a>
    <a href="javascript:void(0)" (click)="toggle('PRODTHREE')">Want to ring us?</a>
</div>

  <div class="main" id="prodOne" *ngIf="prodOne">
    <h2>Marketing</h2>
    <p>Here is everything about marketing team</p>
  </div>
  <div class="main" id="prodTwo" *ngIf="prodTwo">
    <h2>Here is everything about where we are put up.</h2>
    <p></p>
</div>
  <div class="main" id="prodThree" *ngIf="prodThree">
    <h2>Want to ring us?</h2>
    <p>If want to contact plese ring to this number</p>
  </div>
  