<div class="form-group">
    <label for="prodNumber">Product Number:</label>
    <input type="text" class="form-control col-md-3" #prodId id="prodNumber">
</div>
<div class="form-group">
    <label for="prodName">Product Name:</label>
    <input type="text" class="form-control col-md-3" #prodName id="prodName">
</div>
<div class="form-group">
    <label for="prodCost">Cost:</label>
    <input type="text" class="form-control col-md-3" #cost id="prodCost">
</div>
<button type="submit" class="btn btn-success" (click)="AddtoCart(prod)">Add to Cart</button>
<div class="card card-outline-danger text-center" *ngFor="let prod of prodArr">
    <div class="alert alert-secondary">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Product Id:</strong> {{prod.Id}}
        <strong>Product Name:</strong> {{prod.Name}}
        <strong>Cost:</strong> {{prod.Cost}}
    </div>
</div>