<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 1rem;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block rectangle bg-success">
        </div>
        <div class="carousel-item">
            <img class="d-block rectangle bg-warning">
        </div>
        <div class="carousel-item">
            <img class="d-block rectangle bg-danger">
        </div>
    </div>
</div>